# Garmin build outputs
/bin/
/WearTAK-fenix7x.prg
/WearTAK-fenix7x.prg.debug.xml
/external-mir/
/gen/
/mir/
/internal-mir/

# Private Garmin signing key
/developer_key.der

# Local reference archives
/WearTAK-ATAK-Plugin-develop.zip
/wearos-tak-civ-develop.zip