# Garmin build outputs
/bin/
/WearTAK-Garmin.prg
/WearTAK-Garmin.prg.debug.xml
/WearTAK-Garmin-*.prg
/WearTAK-Garmin-*.prg.debug.xml
/WearTAK-Garmin.iq
/WearTAK-Garmin.iq.debug.xml
/WearTAK.fnx
/WearTAK.fnx.debug.xml
/external-mir/
/gen/
/mir/
/internal-mir/

# Private Garmin signing key
/developer_key.der

